# Compiled Object files, Static and Dynamic libs (Shared Objects)
bin
pkg
src/vendor
*.o
*.out
*.a
*.so
*.bak
+src/talaria/talaria
+src/talaria/debug
+src/talaria/output

 # config
-src/talaria/talaria.json
+src/talaria/talaria.json
+keys/*.private

src/talaria/talaria
src/talaria/debug
src/talaria/output

# config
src/talaria/talaria.json
keys/*.private

# Vim
*.swp
*.out

# Folders
_obj
_test
vendor
coverage*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

*vendor/

#Goland
.idea/

# helm 
deploy/k8s/talaria/rendered.*

# binaries
talaria
.ignore

# keep talaria directory
!deploy/helm/talaria

